@import url('https://fonts.googleapis.com/css2?family=Redressed&?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Redressed&display=swap');

.redressed {
    font-family: 'Redressed', cursive;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.cc-navbar {
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'Merriweather', serif;
    box-shadow:  1px 1px 3px rgba(255, 255, 255, 0.55);
    z-index: 99;
}

.cc-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.cc-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal);
}

.banner,
.order-form {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('assets/imagerie/animew3.jpg') 
    center center fixed no-repeat;
    background-size: cover;
    height: 800px;
}

.order-form {
    background:url('assets/imagerie/animew5.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 500px;
}

.banner .banner-desc {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

.cc-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('assets/imagerie/animew4.jpg') 
    center center fixed no-repeat;
    background-size: cover;
    height: 1500px;
}

.btn-order {
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
    color: #fff;
    background-color: var(--bs-teal);
}


  
 
  .footer-column a {
    color: #6c757d;
    text-decoration: none;
    margin: 5px 0;
  }
 